*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f2f5f9;
}

header{
    background:#1565C0;
    color:white;
    text-align:center;
    padding:20px;
}

.container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:15px;
    padding:20px;
}

.card{
    background:white;
    border-radius:15px;
    padding:20px;
    text-align:center;
    box-shadow:0 3px 10px rgba(0,0,0,0.15);
    cursor:pointer;
    transition:0.3s;
    font-size:18px;
}

.card:hover{
    transform:translateY(-5px);
}

footer{
    text-align:center;
    padding:20px;
    color:#666;
}
.card{
text-decoration:none;
color:black;
}
